.pk-full-width {
  width: 100%;
}

.collapse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// リストメニュー項目
.navigation-drawer,.menuable__content__active {
  .list__tile:hover {
    background-color: #E0E0E0;
    cursor: pointer;
  }
}

// v-containerを画面いっぱいに
.container {
  padding: 0;
}
