<!DOCTYPE html>
<html lang="ja">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pankara</title>
  </head>

  <body>
    <div id="app">
      <v-app>
        <page-layout />
      </v-app>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
