<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pankara</title>
  </head>

  <body>
    <div class="container" id="app">
      <div class="navbar">
        ヘッダー的ななにか
      </div>
      <router-view></router-view>
      <div class="footer">
        フッター的ななにか
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
