<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Pankara</title>
  </head>

  <body>
    <div id="app">
      <router-view></router-view>
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
